{% macro render() %}
  <div class="c-demo-notification c-demo-notification--hidden" data-demo-notification>
    <div class="c-demo-notification__background"></div>
    <button class="c-demo-notification__close" data-demo-notification-toggle>←</button>
    <div class="c-demo-notification__container">
      <div class="c-demo-notification__content">
        <h5 class="c-demo-notification__headline">You’re demoing ApostropheCMS!</h5>
        <p class="c-demo-notification__body">
          To start your own project, visit the <a href="https://docs.apostrophecms.org/getting-started/setting-up-your-environment.html">Getting Started documentation</a> or access <a href="https://github.com/apostrophecms">Apostrophe on Github</a>. If you need Agency or Enterprise Support, we’re here to help.
        </p>
      </div>
      <div class="c-demo-notification__button">
        <a href="https://apostrophecms.com/enterprise" target="_blank">Enterprise Support</a>
      </div>
    </div>
  </div>
{% endmacro %}
