{% macro x(color="#FFFFFF") %}
  <svg width="12px" height="10px" viewBox="0 0 12 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Desktop-HD" transform="translate(-203.000000, -2964.000000)" stroke="{{ color }}">
        <g id="Group-11" transform="translate(204.000000, 2964.000000)">
          <g id="Group-6">
            <path d="M0,0 L9.79070928,9.79070928" id="Path-9"></path>
            <path d="M0,0 L9.79070928,9.79070928" id="Path-9-Copy" transform="translate(4.895355, 4.895355) scale(-1, 1) translate(-4.895355, -4.895355) "></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
{% endmacro %}

{% macro chevronRight() %}
  <svg width="8px" height="17px" viewBox="0 0 8 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Desktop-HD" transform="translate(-216.000000, -3165.000000)" stroke="#524979">
        <polyline id="Path-4-Copy" points="216 3166 224 3173.5 216 3181 216 3181"></polyline>
      </g>
    </g>
  </svg>
{% endmacro %}

{% macro chevronLeft() %}
  <svg width="8px" height="17px" viewBox="0 0 8 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Desktop-HD" transform="translate(-744.000000, -3166.000000)" stroke="#524979">
        <polyline id="Path-4-Copy-3" transform="translate(748.000000, 3174.500000) scale(-1, 1) translate(-748.000000, -3174.500000) " points="744 3167 752 3174.5 744 3182 744 3182"></polyline>
      </g>
    </g>
  </svg>
{% endmacro %}

{% macro logoMask(path) %}
  <svg width="256px" height="485px" viewBox="0 0 256 485" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <mask id="logo-mask">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-623.000000, -7260.000000)" fill="white">
            <path d="M623,7639.62751 C702.847342,7604.01898 743.32253,7557.63459 744.425562,7500.47436 L623,7500.48799 L623,7260 L878.572964,7260 L877.572964,7485.48799 C877.572964,7605.32669 811.254677,7691.8136 678.618102,7744.94872 C634.426646,7661.04241 664.605055,7719.30189 623,7639.62751 Z" id="Mask"></path>
          </g>
        </g>
      </mask>
    </defs>
    <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="{{ path }}" mask="url(#logo-mask)"></image>
  </svg>
{% endmacro %}