{% macro x(color="#FFFFFF") %}
  <svg width="12px" height="10px" viewBox="0 0 12 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Desktop-HD" transform="translate(-203.000000, -2964.000000)" stroke="{{ color }}">
        <g id="Group-11" transform="translate(204.000000, 2964.000000)">
          <g id="Group-6">
            <path d="M0,0 L9.79070928,9.79070928" id="Path-9"></path>
            <path d="M0,0 L9.79070928,9.79070928" id="Path-9-Copy" transform="translate(4.895355, 4.895355) scale(-1, 1) translate(-4.895355, -4.895355) "></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
{% endmacro %}

{% macro chevronRight() %}
  <svg width="8px" height="17px" viewBox="0 0 8 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Desktop-HD" transform="translate(-216.000000, -3165.000000)" stroke="#524979">
        <polyline id="Path-4-Copy" points="216 3166 224 3173.5 216 3181 216 3181"></polyline>
      </g>
    </g>
  </svg>
{% endmacro %}

{% macro chevronLeft() %}
  <svg width="8px" height="17px" viewBox="0 0 8 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Desktop-HD" transform="translate(-744.000000, -3166.000000)" stroke="#524979">
        <polyline id="Path-4-Copy-3" transform="translate(748.000000, 3174.500000) scale(-1, 1) translate(-748.000000, -3174.500000) " points="744 3167 752 3174.5 744 3182 744 3182"></polyline>
      </g>
    </g>
  </svg>
{% endmacro %}