{% import 'macros/svgs.html' as svgs %}

{% macro render(tags) %}
  <div class="o-field-container o-field-container--tags">
    <label for="tag" class="o-field-label">Filter by Tags</label>
    <select multiple class="o-field-input o-field-input--tag" name="tags" id="tags" data-unfocus-submit>
      <option value=""></option>
      {% for tag in tags %}
        <option value="{{ tag.value }}">{{ tag.label }}</option>
      {% endfor %}
    </select>
    <div class="c-popup c-tag-picker" data-tag-picker data-popup>
      <div class="c-tag-picker__display" data-tag-picker-display data-popup-open>
      </div>
      <div class="c-popup__window c-tag-picker__tags" data-popup-window>
        <div class="c-tag-picker__header">
          <button class="c-tag-picker__clear" data-tag-picker-clear>Clear</button>
          <button class="c-tag-picker__close" data-tag-picker-close data-popup-close>{{ svgs.x('#524979') }}</button>
        </div>
        <ul class="o-tag-list">
          {% for tag in tags %}
            <li><button data-tag-picker-selected="false" class="o-tag" value="{{ tag.value }}" >{{ tag.label }}</button></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endmacro %}