{% import 'macros/image.html' as image %}

{% macro card(piece, options) %}
  <div class="o-card c-generic-card">
    <div class="o-card__media c-generic-card__media">
      <a href="{{ piece._url }}">
        {{ image.render(piece.thumbnail.items[0]._pieces[0], { alt: piece.title }) }}
      </a>
    </div>
    <div class="o-card__content c-generic-card__content">
      {% if options.schema %}
        {% for item in options.schema %}
          {% if item === 'title' %}
            <a href="{{ piece._url }}" class="o-body o-card__info c-generic-card__title"><strong>{{ piece.title }}</strong></a>
          {% elif item === 'startDate' or item === 'publishedAt' %}
            <span class="o-card__info">{{ piece[item] | date('MMMM Do YYYY') }}</span>
          {% elif item === 'tags' %} 
            <ul class="o-tag-list">
              {% for tag in piece.tags %}
                <li><a class="o-tag" href="{{ options.tagsUrl if options.tagsUrl }}?tags={{ tag }}">{{ tag }}</a></li>
              {% endfor %}
            </ul>
          {% elif apos.helpers._isObject(item) %}
            {% if piece[item.field] %}
              <span class="o-card__info{% if item.class %} {{ item.class }}{% endif %}">{{ item.label if item.label }}{{ piece[item.field] }}</span>
            {% endif %}
          {% elif apos.helpers.isJoin(item) %}
            <span class="o-card__info">{{ apos.helpers.typy(piece, item) }}</span>
          {% else %}
            <span class="o-card__info">{{ piece[item] }}</span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro cards(arr, options) %}
  <div class="o-cards o-cards--{{ arr.length }} c-generic-cards {% if options.class %} {{ options.class }}{% endif %}">
    {% for item in arr %}
      {{ card(item, options) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro render(data, options) %}
  {% if apos.helpers._isArray(data) %}
    {{ cards(data, options) }}
  {% elif apos.helpers._isObject %}
    {{ card(data, options) }}
  {% else %}
    {{ apos.log('didnt pass object or array to generic-cards macro') }}
  {% endif %}
{% endmacro %}