{% macro render(imageObj, options= {size: 'full', alt: false, description: false} ) %}
  {% set image = apos.images.first(imageObj) %}
  <div class="o-image__wrapper{% if options.class %} {{ options.class }}{% endif %}">
    {% if image === undefined %}
      <img class="o-image" src="https://via.placeholder.com/300x200" alt="">
    {% else %}
      {% set url = apos.attachments.url(image, { size: options.size, crop: image._crop }) %}
      <img class="o-image" src="{{ url }}" alt="{{ options.alt or image.title or image._description }}">
      {% if options.description === true and image._description %}
        <figcaption class="o-meta o-image__caption">{{ image._description }}</figcaption>
      {% endif %}
      {% if apos.helpers._isString(options.description) %}
        <figcaption class="o-meta o-image__caption">{{ options.description }}</figcaption>
      {% endif %}
    {% endif %}
  </div>
{% endmacro %}
