{% macro render(imageObj, options= {size: 'full', alt: false, description: false} ) %}
  <div class="o-image__wrapper{% if options.class %} {{ options.class }}{% endif %}">
    {% if imageObj === undefined %}
      <img class="o-image" src="https://via.placeholder.com/300x200" alt="{{ options.alt }}">
    {% else %}
      <img class="o-image" src="{{ apos.attachments.url(imageObj, { size: options.size, crop: imageObj._crop }) }}" alt="{{ options.alt or imageObj.title }}">
      {% if options.description === true and imageObj.description %}
        <figcaption class="o-meta o-image__caption">
         {{ imageObj.description }}
        </figcaption>
      {% elif apos.helpers._isString(options.description) %}
        <figcaption class="o-meta o-image__caption">
          {{ options.description }}
        </figcaption>
      {% endif %}
    {% endif %}
  </div>

{% endmacro %}