{% macro render(data) %}
  <div class="c-map">
    <address class="o-body c-map__details">
      <p class="o-subheadline o-color-brand-primary">Location</p>
      {{ data.title }} <br/>
      {{ data.streetName }} <br/>
      {{ data.city }}, {{ data.stateCode }} {{ data.zipCode }}
      <a class="c-location-widget__directions" target="_blank" href="http://google.com/maps/place/{{ data.address }}">Directions</a>
    </address>
    
    <div class="c-map__canvas" data-map="{{ data.latlng | dump }}" data-mq-key="{{ apos.helpers.getMapquestKey() }}"></div>
  </div>
{% endmacro %}